RSP_LICENSE_ACCEPTED=true
########################################################################################
## Parameter        		| RSP_LICENSE_ACCEPTED
## Name             		| License Agreement Acceptance
## Characteristics  		| Mandatory - if you do not accept it, the installation will
##                  		| fail
##======================================================================================
## Default Value    		| false
## Possible Values  		| true/false
## Language					| en -> English ; fr -> French ,etc
## License Directory  		| la_home/LA_$language
##======================================================================================
## Description:
##             License Agreement Acceptance
##             Indicate that you have read and agreed to the license agreement file in 
## 			   the license directory.
##             If you do not accept the license agreement, the installation process will 
##			   fail.
########################################################################################